In [4]:
# https://towardsdatascience.com/say-goodbye-to-excel-a-simple-evaluation-of-python-grid-studio-using-covid-19-data-90624f322b81
import pandas as pd
df = pd.read_csv("https://opendata.ecdc.europa.eu/covid19/casedistribution/csv").dropna()
df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,23/04/2020,23,4,2020,84,4,Afghanistan,AF,AFG,37172386.0,Asia
1,22/04/2020,22,4,2020,61,1,Afghanistan,AF,AFG,37172386.0,Asia
2,21/04/2020,21,4,2020,35,2,Afghanistan,AF,AFG,37172386.0,Asia
3,20/04/2020,20,4,2020,88,3,Afghanistan,AF,AFG,37172386.0,Asia
4,19/04/2020,19,4,2020,63,0,Afghanistan,AF,AFG,37172386.0,Asia

In [5]:
# Convert date to integer (because of Grid Studio limitation)
df.dateRep = pd.to_datetime(df.dateRep, format='%d/%m/%Y').dt.strftime('%Y%m%d').astype(int)
df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,20200423,23,4,2020,84,4,Afghanistan,AF,AFG,37172386.0,Asia
1,20200422,22,4,2020,61,1,Afghanistan,AF,AFG,37172386.0,Asia
2,20200421,21,4,2020,35,2,Afghanistan,AF,AFG,37172386.0,Asia
3,20200420,20,4,2020,88,3,Afghanistan,AF,AFG,37172386.0,Asia
4,20200419,19,4,2020,63,0,Afghanistan,AF,AFG,37172386.0,Asia

In [7]:
# Get Australia data
df_oz = df[df.countriesAndTerritories == 'Australia']
# Retain only date, cases and deaths columns
df_oz = df_oz[['dateRep', 'cases', 'deaths']]
# Calculate cumulative cases & deaths
df_oz = df_oz.sort_values('dateRep')
df_oz['cumCases'] = df_oz.cases.cumsum()
df_oz['cumDeaths'] = df_oz.deaths.cumsum()
df_oz

      dateRep  cases  deaths  cumCases  cumDeaths
698  20191231      0       0         0          0
697  20200101      0       0         0          0
696  20200102      0       0         0          0
695  20200103      0       0         0          0
694  20200104      0       0         0          0
..        ...    ...     ...       ...        ...
588  20200419     53       2      6586         69
587  20200420     26       1      6612         70
586  20200421     13       1      6625         71
585  20200422     22       3      6647         74
584  20200423      7       0      6654         74

[115 rows x 5 columns]